* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: max-content;
}

.header-wrapper {
    position: sticky;
    top: 0rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2rem;
    z-index: 1;
}

.header-component:nth-child(1) {
    flex-grow: 1;
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    padding: 1rem;
}

.header-component:nth-child(2),
.header-component:nth-child(3) {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.header-component:nth-child(2):hover,
.header-component:nth-child(3):hover {
    color: var(--gray-button);
}